* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.above-section {
  height: 200px;
  background-color: #de5457;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 134px;
  padding-right: 12px;
}

.backButton {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.header-info {
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.container {
  /* TODO: Add styles */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-top: 80px;
  border-top: 6px;
}

.cardImg {
  width: 200px;
  position: absolute;
  top: -130px;
}

.nameCard {
  font-weight: 500;
  font-size: 30px;
}

.divType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.typeCard {
  font-size: 12px;

  border: none;
  border-radius: 10px;
  padding: 4px 12px;
}

.divInfo {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 12px;
  gap: 10px;
}

.infoFisica {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 2px;
  margin-bottom: 20px;
}

.infoText {
  font-weight: 800;
}

.stat {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

label {
  font-size: 16px;
  max-width: 40px;
}

.progress {
  margin-bottom: 20px;
  width: 220px;
}

.pokemon-type {
  color: rgb(101, 101, 101);
}

.grass {
  background-color: #b8dcaa;
}

.red {
  background-color: #e8af98e9;
}

.blue {
  background-color: #bdd4e9;
}

.gray {
  background-color: rgb(189, 186, 182);
}

.bug {
  background-color: rgb(115, 178, 115);
}

.purple {
  background-color: rgb(220, 184, 231);
}

.electric {
  background-color: rgb(255, 255, 122);
}

.pink {
  background-color: rgb(249, 215, 221);
}

.ground {
  background-color: rgb(184, 184, 114);
}

.ice {
  background-color: #87b5e0;
}

.fighting {
  background-color: rgb(124, 34, 34);
}
.flying {
  background-color: rgb(157, 87, 157);
}
.psychic {
  background-color: rgb(217, 119, 228);
}
.rock {
  background-color: rgb(163, 144, 14);
}
.ghost {
  background-color: rgb(88, 64, 90);
}
.stell {
  background-color: rgb(191, 191, 191);
}
.dragon {
  background-color: rgba(156, 74, 156, 0.798);
}

@media screen and (min-width: 390px) {
  .header {
    height: 60px;
    padding: 24px;
  }

  .above-section {
    height: 250px;
  }

  .backButton {
    text-decoration: none;
    color: white;
    font-size: 34px;
  }

  .header-info {
    font-weight: 500;
    font-size: 24px;
    color: white;
  }

  .nameCard {
    font-weight: 500;
    font-size: 44px;
  }

  .divType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  .typeCard {
    font-size: 14px;
    background-color: #de5457;
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
  }
  .pokemon-type {
    color: rgb(101, 101, 101);
  }

  .stat {
    display: flex;
    flex-direction: row;
    gap: 180px;
    justify-content: flex-start;
  }
  .progress {
    margin-bottom: 20px;
    width: 300px;
    padding: 12px;
  }
  .grass {
    background-color: #b8dcaa;
  }

  .red {
    background-color: #e8af98e9;
  }

  .blue {
    background-color: #bdd4e9;
  }

  .gray {
    background-color: rgb(189, 186, 182);
  }

  .bug {
    background-color: rgb(115, 178, 115);
  }

  .purple {
    background-color: rgb(220, 184, 231);
  }

  .electric {
    background-color: rgb(255, 255, 122);
  }

  .pink {
    background-color: rgb(249, 215, 221);
  }

  .ground {
    background-color: rgb(184, 184, 114);
  }

  .ice {
    background-color: #87b5e0;
  }

  .fighting {
    background-color: rgb(124, 34, 34);
  }
  .flying {
    background-color: rgb(157, 87, 157);
  }
  .psychic {
    background-color: rgb(217, 119, 228);
  }
  .rock {
    background-color: rgb(163, 144, 14);
  }
  .ghost {
    background-color: rgb(88, 64, 90);
  }
  .stell {
    background-color: rgb(191, 191, 191);
  }
  .dragon {
    background-color: rgba(156, 74, 156, 0.798);
  }

  .divInfo {
    font-size: 22px;
    padding: 24px;
  }
}
