.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
