.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.name{
    font-weight: 300;
    color: rgba(29,29,29,.7)
}

.img{
    width: 145px;
    height: 211px;
}

@media screen and (min-width: 650px) {
    .img{
        width: 244px;
        height: 350px;
        
    }
}
